{%extends 'base.htm'%}

{%block content%}

        <!-- ALUMNI HEROO SECTION  -->
        <main class="alumni-hero relative pt-40 mb-12">
            <div class="heading flex justify-start items-center">
                <img src="static/img/triangular stuff.png" alt="side decor" class="alumni-hero-filler-1 w-48 mr-28">
                <h2 class="heading-1">Our Alumni</h2>
            </div>
        </main>

        <!-- BATCH 1  -->
        <div class="alumni-section batch-1 text-center mb-32">
            <p class="alumni-section__heading text-7xl font-semibold mb-16">Batch 2020-2021</p>
            <div class="alumni-section__list flex justify-evenly items-center w-4/5 mx-auto mb-20 flex-wrap">
                <div class="alumnus mb-12">
                    <p class="alumnus__name text-4xl mb-2">Pranjal Tiwari</p>
                    <p class="alumnus__post text-3xl text-gray-500">President</p>
                </div>
                <div class="alumnus mb-12">
                    <p class="alumnus__name text-4xl mb-2">Siddhant Jain</p>
                    <p class="alumnus__post text-3xl text-gray-500">President</p>
                </div>
            </div>
        </div>

        <!-- BATCH 2  -->
        <div class="alumni-section batch-2 text-center mb-32">
            <p class="alumni-section__heading text-7xl font-semibold mb-16">Batch 2019-2020</p>
            <div class="alumni-section__list flex justify-evenly items-center w-4/5 mx-auto mb-20 flex-wrap">
                <div class="alumnus mb-12">
                    <p class="alumnus__name text-4xl mb-2">Sayam Kanwar</p>
                    <p class="alumnus__post text-3xl text-gray-500">President</p>
                </div>
                <div class="alumnus mb-12">
                    <p class="alumnus__name text-4xl mb-2">Vanshaj Vohra</p>
                    <p class="alumnus__post text-3xl text-gray-500">President</p>
                </div>
                <div class="alumnus mb-12">
                    <p class="alumnus__name text-4xl mb-2">Parth Mahedru</p>
                    <p class="alumnus__post text-3xl text-gray-500">Head GD</p>
                </div>
                <div class="alumnus mb-12">
                    <p class="alumnus__name text-4xl mb-2">Radhika Marwaha</p>
                    <p class="alumnus__post text-3xl text-gray-500">Head Photography</p>
                </div>
            </div>
        </div>

        <!-- BATCH 3  -->
        <div class="alumni-section batch-2 text-center mb-32">
            <p class="alumni-section__heading text-7xl font-semibold mb-16">Batch 2018-2019</p>
            <div class="alumni-section__list flex justify-evenly items-center w-4/5 mx-auto mb-20 flex-wrap">
                <div class="alumnus mb-12">
                    <p class="alumnus__name text-4xl mb-2">Mehul Arora</p>
                    <p class="alumnus__post text-3xl text-gray-500">President</p>
                </div>
                <div class="alumnus mb-12">
                    <p class="alumnus__name text-4xl mb-2">Kunal Jain</p>
                    <p class="alumnus__post text-3xl text-gray-500">President</p>
                </div>
            </div>
        </div>

 
{%endblock%}
