{% extends "base.html" %}


{% block content %}
<main class="hero">
    <!-- <div class="hero-content"> -->
            <div class="static-text">
                <div class="main">
                    <div id='content'>
                        <div class='title'>
                            <span>XQUEST 2022</span>
                        </div>
                    <p class="para">coming soon</p>
                    </div>
                </div>
            </div>
            <ul class="dynamic-text">
            </ul>     
        <section class="join">
        </section>
    <!-- </div> -->
</main>


{% endblock %}
