{% extends "base.html" %}


{% block content %}
<main class="hero">
    <div class="hero-content">
        <div class="typewriter">
            <div class="static-text">Decode 2022</div>
            <ul class="dynamic-text">
                <li><span>8th - 9th Jan</span></li>
            </ul>
        </div>

        <img src="../static/cropped_logo.png" alt="logo" class="logo-main">

        

        <section class="join">
            <h1 class="heading-1">Join our Discord</h1>
            <iframe src="https://discord.com/widget?id=928545950442594354&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
            <!--<a href="" class="btn">Join</a>-->
        </section>
    </div>
</main>


{% endblock %}
