{%extends 'base.htm'%}

{%block content%}

        <!-- MEMBERS: HERO SECTION  -->
        <main class="members-hero relative pt-40 mb-12">
            <div class="heading flex justify-start items-center">
                <img src="../static/img/triangular_stuff.png" alt="side decor" class="members-hero-filler-1 w-48 mr-28">
                <h2 class="heading-1">Our Team</h2>
            </div>
            <p class="events-hero__text w-8/12 text-2xl leading-loose ml-72 -mt-8 mb-28">
                Meet the team that forms the foundation of Xino. A bunch of crazy technology addicts and innovators who continue bagging podiums in prestigious competitions.   
            </p>
        </main>

        <!-- MEMBERS SECTION -->
        <section class="members mgb-large">
            <div class="members-grid">
                <div class="member">
                    <img src="../static/img/Anant_Gupta.jpg" alt="member image" class="member__img">
                    <div class="member__text">
                        <p class="member__name">Anant Gupta</p>
                        <p class="member__post">President</p>
                    </div>
                </div>

                <div class="member">
                    <img src="../static/img/Ekansh_Arora.png" alt="member image" class="member__img">
                    <div class="member__text">
                        <p class="member__name">Ekansh Arora</p>
                        <p class="member__post">Vice President</p>
                    </div>
                </div>

                <div class="member">
                    <img src="../static/img/Tijil_Chhabra.jpg" alt="member image" class="member__img">
                    <div class="member__text">
                        <p class="member__name">Tijil Chhabra</p>
                        <p class="member__post">Vice President</p>
                    </div>
                </div>

                <div class="member">
                    <img src="../static/img/aurum.jpg" alt="member image" class="member__img">
                    <div class="member__text">
                        <p class="member__name">Aurum Mandal</p>
                        <p class="member__post">Secretary</p>
                    </div>
                </div>

                <div class="member">
                    <img src="../static/img/arnav_gupta.png" alt="member img" class="member__img">
                    <div class="member__text">
                        <p class="member__name">Arnav Gupta</p>
                        <p class="member__post">Secretary</p>
                    </div>
                </div>

                <div class="member">
                    <img src="../static/img/abhishree.png" alt="member image" class="member__img">
                    <div class="member__text">
                        <p class="member__name">Abhishree Bhardwaj</p>
                        <p class="member__post">Head Design</p>
                    </div>
                </div>

                <div class="member">
                    <img src="../static/img/amogh_srivastava.jpg" alt="member image" class="member__img">
                    <div class="member__text">
                        <p class="member__name">Amogh Srivastav</p>
                        <p class="member__post">Head Programming</p>
                    </div>
                </div>

                <div class="member">
                    <img src="../static/img/yuvaan_3.png" alt="member image" class="member__img">
                    <div class="member__text">
                        <p class="member__name">Yuvaan Mutreja</p>
                        <p class="member__post">Head Hardware</p>
                    </div>
                </div>

                <div class="member">
                    <img src="../static/img/maya.jpg" alt="member image" class="member__img">
                    <div class="member__text">
                        <p class="member__name">Saumya Chaudhary</p>
                        <p class="member__post">Head Photography</p>
                    </div>
                </div>

                <div class="member">
                    <img src="../static/img/satvik.jpg" alt="member image" class="member__img">
                    <div class="member__text">
                        <p class="member__name">Satvik Mittal</p>
                        <p class="member__post">Head Game Dev</p>
                    </div>
                </div>

                <div class="member">
                    <img src="../static/img/anirudh.jpg" alt="member image" class="member__img">
                    <div class="member__text">
                        <p class="member__name">Anirudh Dabas</p>
                        <p class="member__post">Executive Member</p>
                    </div>
                </div>

                <div class="member">
                    <img src="../static/img/ananya.jpg" alt="member image" class="member__img">
                    <div class="member__text">
                        <p class="member__name">Ananya Dabas</p>
                        <p class="member__post">Executive Member</p>
                    </div>
                </div>

                <div class="member">
                    <img src="../static/img/vihaan.png" alt="member image" class="member__img">
                    <div class="member__text">
                        <p class="member__name">Vihaan Kulkarni</p>
                        <p class="member__post">Executive Member</p>
                    </div>
                </div>

                <div class="member">
                    <img src="../static/img/nishchay.jpg" alt="member image" class="member__img">
                    <div class="member__text">
                        <p class="member__name">Nishchay Bhatia</p>
                        <p class="member__post">Member</p>
                    </div>
                </div>

                <div class="member">
                    <img src="../static/img/kriti.png" alt="member image" class="member__img">
                    <div class="member__text">
                        <p class="member__name">Kriti Grover</p>
                        <p class="member__post">Member</p>
                    </div>
                </div>
                
            </div>
        </section>


{%endblock%}
