{%extends 'base.htm'%}

{%block content%}
<br><br><br><br>
<div class="sign-up">
  <br>
  <div class="row justify-content-center ">
    <form method="POST" class="form">
      <h1 class="heading-2">Register</h1>
      <br>
      {{form.hidden_tag()}}
      <!-- #######################gd1 -->
      <div class="xclamation mb-20">
        <p class="e-des">Xclamation Point</p>
        <div class="mgb-small">
          <div>
            <div class="input-wrapper  mgb-e-small">
                <div>
                  <p class="form__name">Participant 1 </p>
                  {{form.participant_gd1_name(class="form__input", placeholder='Participant Name', value=all.pop(0).value)}}
                <div class="form__line"></div>
              </div>
          </div>
        </div>
        </div>
        <div class="mgb-small">
          <div>
            <div class="input-wrapper  mgb-e-small">
                <div>
                  {{form.participant_gd1_email(class="form__input", placeholder='Participant Email', value=all.pop(0).value)}}
                <div class="form__line"></div>
              </div>
          </div>
        </div>
        </div>
        <div class="mgb-small">
          <div>
            <div class="input-wrapper  mgb-e-small">
                <div>
                  {{form.participant_gd1_phone(class="form__input", placeholder='Participant Phone', value=all.pop(0).value)}}
                <div class="form__line"></div>
              </div>
          </div>
        </div>
        </div>
      </div>

      <!-- ######################################## surp -->
      <div class="surp mb-20">
        <p class="e-des">Xclusive</p>
        <div class="mgb-small">
          <div>
            <div class="input-wrapper  mgb-e-small">
                <div>
                  <p class="form__name">Participant 1 </p>
                  {{form.participant_su1_name(class="form__input", placeholder='Participant Name', value=all.pop(0).value)}}
                <div class="form__line"></div>
              </div>
          </div>
        </div>
        </div>
        <div class="mgb-small">
          <div>
            <div class="input-wrapper  mgb-e-small">
                <div>
                  {{form.participant_su1_email(class="form__input", placeholder='Participant Email', value=all.pop(0).value)}}
                <div class="form__line"></div>
              </div>
          </div>
        </div>
        </div>
        <div class="mgb-small">
          <div>
            <div class="input-wrapper  mgb-e-small">
                <div>
                  {{form.participant_su1_phone(class="form__input  mb-8", placeholder='Participant Phone', value=all.pop(0).value)}}
                <div class="form__line"></div>
              </div>
          </div>
        </div>
        </div>
  
        <div class="mgb-small">
          <div>
            <div class="input-wrapper  mgb-e-small">
                <div>
                  <p class="form__name">Participant 2 </p>
                  {{form.participant_su2_name(class="form__input", placeholder='Participant Name', value=all.pop(0).value)}}
                <div class="form__line"></div>
              </div>
          </div>
        </div>
        </div>
        <div class="mgb-small">
          <div>
            <div class="input-wrapper  mgb-e-small">
                <div>
                  {{form.participant_su2_email(class="form__input", placeholder='Participant Email', value=all.pop(0).value)}}
                <div class="form__line"></div>
              </div>
          </div>
        </div>
        </div>
  
        <div class="mgb-small">
          <div>
            <div class="input-wrapper  mgb-e-small">
                <div>
                  {{form.participant_su2_phone(class="form__input", placeholder='Participant Phone', value=all.pop(0).value)}}
                <div class="form__line"></div>
              </div>
          </div>
        </div>
        </div>
      </div>
      <!-- ####################creative -->
      <div class="creative mb-20">
        <div class="mgb-small">
          <p class="e-des">Xquisite</p>
          <div>
  
            <div class="input-wrapper  mgb-e-small">
                <div>
                  <p class="form__name">Participant 1</p>
                  {{form.participant_cr1_name(class="form__input", placeholder='Participant Name', value=all.pop(0).value)}}
                <div class="form__line"></div>
              </div>
          </div>
        </div>
        </div>
        <div class="mgb-small">
          <div>
            <div class="input-wrapper  mgb-e-small">
                <div>
                  {{form.participant_cr1_email(class="form__input", placeholder='Participant Email', value=all.pop(0).value)}}
                <div class="form__line"></div>
              </div>
          </div>
        </div>
        </div>
        <div class="mgb-small">
          <div>
            <div class="input-wrapper  mgb-e-small">
                <div>
                  {{form.participant_cr1_phone(class="form__input  mb-8", placeholder='Participant Phone', value=all.pop(0).value)}}
                <div class="form__line"></div>
              </div>
          </div>
        </div>
        </div>
        <div class="mgb-small">
          <div>
  
            <div class="input-wrapper  mgb-e-small">
                <div>
                  <p class="form__name">Participant 2 </p>
                  {{form.participant_cr2_name(class="form__input", placeholder='Participant Name', value=all.pop(0).value)}}
                <div class="form__line"></div>
              </div>
          </div>
        </div>
        </div>
        <div class="mgb-small">
          <div>
            <div class="input-wrapper  mgb-e-small">
                <div>
                  {{form.participant_cr2_email(class="form__input", placeholder='Participant Email', value=all.pop(0).value)}}
                <div class="form__line"></div>
              </div>
          </div>
        </div>
        </div>
        <div class="mgb-small">
          <div>
            <div class="input-wrapper  mgb-e-small">
                <div>
                  {{form.participant_cr2_phone(class="form__input  mb-8", placeholder='Participant Phone', value=all.pop(0).value)}}
                <div class="form__line"></div>
              </div>
          </div>
        </div>
        </div>
  
        <div class="mgb-small">
          <div>
  
            <div class="input-wrapper  mgb-e-small">
                <div>
                  <p class="form__name">Participant 3 </p>
                  {{form.participant_cr3_name(class="form__input", placeholder='Participant Name', value=all.pop(0).value)}}
                <div class="form__line"></div>
              </div>
          </div>
        </div>
        </div>
        <div class="mgb-small">
          <div>
            <div class="input-wrapper  mgb-e-small">
                <div>
                  {{form.participant_cr3_email(class="form__input", placeholder='Participant Email', value=all.pop(0).value)}}
                <div class="form__line"></div>
              </div>
          </div>
        </div>
        </div>
        <div class="mgb-small">
          <div>
            <div class="input-wrapper  mgb-e-small">
                <div>
                  {{form.participant_cr3_phone(class="form__input  mb-8", placeholder='Participant Phone', value=all.pop(0).value)}}
                <div class="form__line"></div>
              </div>
          </div>
        </div>
        </div>
  
        <div class="mgb-small">
          <div>
  
            <div class="input-wrapper  mgb-e-small">
                <div>
                  <p class="form__name">Participant 4 </p>
                  {{form.participant_cr4_name(class="form__input", placeholder='Participant Name', value=all.pop(0).value)}}
                <div class="form__line"></div>
              </div>
          </div>
        </div>
        </div>
        <div class="mgb-small">
          <div>
            <div class="input-wrapper  mgb-e-small">
                <div>
                  {{form.participant_cr4_email(class="form__input", placeholder='Participant Email', value=all.pop(0).value)}}
                <div class="form__line"></div>
              </div>
          </div>
        </div>
        </div>
        <div class="mgb-small">
          <div>
            <div class="input-wrapper  mgb-e-small">
                <div>
                  {{form.participant_cr4_phone(class="form__input  mb-8", placeholder='Participant Phone', value=all.pop(0).value)}}
                <div class="form__line"></div>
              </div>
          </div>
        </div>
        </div>
        <div class="mgb-small">
          <div>
  
            <div class="input-wrapper  mgb-e-small">
                <div>
                  <p class="form__name">Participant 5 </p>
                  {{form.participant_cr5_name(class="form__input", placeholder='Participant Name', value=all.pop(0).value)}}
                <div class="form__line"></div>
              </div>
          </div>
        </div>
        </div>
        <div class="mgb-small">
          <div>
            <div class="input-wrapper  mgb-e-small">
                <div>
                  {{form.participant_cr5_email(class="form__input", placeholder='Participant Email', value=all.pop(0).value)}}
                <div class="form__line"></div>
              </div>
          </div>
        </div>
        </div>
        <div class="mgb-small">
          <div>
            <div class="input-wrapper  mgb-e-small">
                <div>
                  {{form.participant_cr5_phone(class="form__input", placeholder='Participant Phone', value=all.pop(0).value)}}
                <div class="form__line"></div>
              </div>
          </div>
        </div>
        </div>
      </div>
      
      
<!-- ####################### cross -->
<div class="cross mb-20">
  <div class="mgb-small">
    <p class="e-des">X-Word</p>
    <div>
  
      <div class="input-wrapper  mgb-e-small">
          <div>
            <p class="form__name">Participant 1</p>
            {{form.participant_cw1_name(class="form__input", placeholder='Participant Name', value=all.pop(0).value)}}
          <div class="form__line"></div>
        </div>
    </div>
  </div>
  </div>
  <div class="mgb-small">
    <div>
      <div class="input-wrapper  mgb-e-small">
          <div>
            {{form.participant_cw1_email(class="form__input", placeholder='Participant Email', value=all.pop(0).value)}}
          <div class="form__line"></div>
        </div>
    </div>
  </div>
  </div>
  <div class="mgb-small">
    <div>
      <div class="input-wrapper  mgb-e-small">
          <div>
            {{form.participant_cw1_phone(class="form__input  mb-8", placeholder='Participant Phone', value=all.pop(0).value)}}
          <div class="form__line"></div>
        </div>
    </div>
  </div>
  </div>
  <div class="mgb-small">
    <div>
  
      <div class="input-wrapper  mgb-e-small">
          <div>
            <p class="form__name">Participant 2</p>
            {{form.participant_cw2_name(class="form__input", placeholder='Participant Name', value=all.pop(0).value)}}
          <div class="form__line"></div>
        </div>
    </div>
  </div>
  </div>
  <div class="mgb-small">
    <div>
      <div class="input-wrapper  mgb-e-small">
          <div>
            {{form.participant_cw2_email(class="form__input", placeholder='Participant Email', value=all.pop(0).value)}}
          <div class="form__line"></div>
        </div>
    </div>
  </div>
  </div>
  <div class="mgb-small">
    <div>
      <div class="input-wrapper  mgb-e-small">
          <div>
            {{form.participant_cw2_phone(class="form__input", placeholder='Participant Phone', value=all.pop(0).value)}}
          <div class="form__line"></div>
        </div>
    </div>
  </div>
  </div>
</div>


<!-- ################################################ prog -->
<div class="prog mb-20">
  <div class="mgb-small">
    <p class="e-des">Execute.eXe</p>
    <div>
  
      <div class="input-wrapper  mgb-e-small">
          <div>
            <p class="form__name">Participant 1</p>
            {{form.participant_pg1_name(class="form__input", placeholder='Participant Name', value=all.pop(0).value)}}
          <div class="form__line"></div>
        </div>
    </div>
  </div>
  </div>
  <div class="mgb-small">
    <div>
      <div class="input-wrapper  mgb-e-small">
          <div>
            {{form.participant_pg1_email(class="form__input", placeholder='Participant Email', value=all.pop(0).value)}}
          <div class="form__line"></div>
        </div>
    </div>
  </div>
  </div>
  <div class="mgb-small">
    <div>
      <div class="input-wrapper  mgb-e-small">
          <div>
            {{form.participant_pg1_phone(class="form__input  mb-8", placeholder='Participant Phone', value=all.pop(0).value)}}
          <div class="form__line"></div>
        </div>
    </div>
  </div>
  </div>
  <div class="mgb-small">
    <div>
  
      <div class="input-wrapper  mgb-e-small">
          <div>
            <p class="form__name">Participant 2</p>
            {{form.participant_pg2_name(class="form__input", placeholder='Participant Name', value=all.pop(0).value)}}
          <div class="form__line"></div>
        </div>
      </div>
  </div>
  </div>
  <div class="mgb-small">
    <div>
      <div class="input-wrapper  mgb-e-small">
          <div>
            {{form.participant_pg2_email(class="form__input", placeholder='Participant Email', value=all.pop(0).value)}}
          <div class="form__line"></div>
        </div>
    </div>
  </div>
  </div>
  <div class="mgb-small">
    <div>
      <div class="input-wrapper  mgb-e-small">
          <div>
            {{form.participant_pg2_phone(class="form__input  mb-8", placeholder='Participant Phone', value=all.pop(0).value)}}
          <div class="form__line"></div>
        </div>
    </div>
  </div>
  </div>
  
  <!-- #################################hrw -->
  <div class="hwr mb-20">
    <div class="mgb-small">
      <p class="e-des">X-86</p>
      <div>
    
        <div class="input-wrapper  mgb-e-small">
            <div>
              <p class="form__name">Participant 1</p>
              {{form.participant_hr1_name(class="form__input", placeholder='Participant Name', value=all.pop(0).value)}}
            <div class="form__line"></div>
          </div>
      </div>
    </div>
    </div>
    <div class="mgb-small">
      <div>
        <div class="input-wrapper  mgb-e-small">
            <div>
              {{form.participant_hr1_email(class="form__input", placeholder='Participant Email', value=all.pop(0).value)}}
            <div class="form__line"></div>
          </div>
      </div>
    </div>
    </div>
    <div class="mgb-small">
      <div>
        <div class="input-wrapper  mgb-e-small">
            <div>
              {{form.participant_hr1_phone(class="form__input  mb-8", placeholder='Participant Phone', value=all.pop(0).value)}}
            <div class="form__line"></div>
          </div>
      </div>
    </div>
    </div>
    <div class="mgb-small">
      <div>
    
        <div class="input-wrapper  mgb-e-small">
            <div>
              <p class="form__name">Participant 2</p>
              {{form.participant_hr2_name(class="form__input", placeholder='Participant Name', value=all.pop(0).value)}}
            <div class="form__line"></div>
          </div>
      </div>
    </div>
    </div>
    <div class="mgb-small">
      <div>
        <div class="input-wrapper  mgb-e-small">
            <div>
              {{form.participant_hr2_email(class="form__input", placeholder='Participant Email', value=all.pop(0).value)}}
            <div class="form__line"></div>
          </div>
      </div>
    </div>
    </div>
    <div class="mgb-small">
      <div>
        <div class="input-wrapper  mgb-e-small">
            <div>
              {{form.participant_hr2_phone(class="form__input  mb-8", placeholder='Participant Phone', value=all.pop(0).value)}}
            <div class="form__line"></div>
          </div>
      </div>
    </div>
    </div>
    
    <div class="mgb-small">
      <div>
    
        <div class="input-wrapper  mgb-e-small">
            <div>
              <p class="form__name">Participant 3</p>
              {{form.participant_hr3_name(class="form__input", placeholder='Participant Name', value=all.pop(0).value)}}
            <div class="form__line"></div>
          </div>
      </div>
    </div>
    </div>
    <div class="mgb-small">
      <div>
        <div class="input-wrapper  mgb-e-small">
            <div>
              {{form.participant_hr3_email(class="form__input", placeholder='Participant Email', value=all.pop(0).value)}}
            <div class="form__line"></div>
          </div>
      </div>
    </div>
    </div>
    <div class="mgb-small">
      <div>
        <div class="input-wrapper  mgb-e-small">
            <div>
              {{form.participant_hr3_phone(class="form__input", placeholder='Participant Phone', value=all.pop(0).value)}}
            <div class="form__line"></div>
          </div>
      </div>
    </div>
    </div>
  </div>
  </div>
<!-- ########################## game dev -->
<div class="game-dev mb-20">
  <div class="mgb-small">
    <p class="e-des">Unity-eXe</p>
    <div>
  
      <div class="input-wrapper  mgb-e-small">
          <div>
            <p class="form__name">Participant 1</p>
            {{form.participant_gm1_name(class="form__input", placeholder='Participant Name', value=all.pop(0).value)}}
          <div class="form__line"></div>
        </div>
    </div>
  </div>
  </div>
  <div class="mgb-small">
    <div>
      <div class="input-wrapper  mgb-e-small">
          <div>
            {{form.participant_gm1_email(class="form__input", placeholder='Participant Email', value=all.pop(0).value)}}
          <div class="form__line"></div>
        </div>
    </div>
  </div>
  </div>
  <div class="mgb-small">
    <div>
      <div class="input-wrapper  mgb-e-small">
          <div>
            {{form.participant_gm1_phone(class="form__input  mb-8", placeholder='Participant Phone', value=all.pop(0).value)}}
          <div class="form__line"></div>
        </div>
    </div>
  </div>
  </div>
  <div class="mgb-small">
    <div>
  
      <div class="input-wrapper  mgb-e-small">
          <div>
            <p class="form__name">Participant 3</p>
            {{form.participant_gm2_name(class="form__input", placeholder='Participant Name', value=all.pop(0).value)}}
          <div class="form__line"></div>
        </div>
    </div>
  </div>
  </div>
  <div class="mgb-small">
    <div>
      <div class="input-wrapper  mgb-e-small">
          <div>
            {{form.participant_gm2_email(class="form__input", placeholder='Participant Email', value=all.pop(0).value)}}
          <div class="form__line"></div>
        </div>
    </div>
  </div>
  </div>
  <div class="mgb-small">
    <div>
      <div class="input-wrapper  mgb-e-small">
          <div>
            {{form.participant_gm2_phone(class="form__input  mb-8", placeholder='Participant Phone', value=all.pop(0).value)}}
          <div class="form__line"></div>
        </div>
    </div>
  </div>
  </div>
  
  <div class="mgb-small">
    <div>
  
      <div class="input-wrapper  mgb-e-small">
          <div>
            <p class="form__name">Participant 3</p>
            {{form.participant_gm3_name(class="form__input", placeholder='Participant Name', value=all.pop(0).value)}}
          <div class="form__line"></div>
        </div>
    </div>
  </div>
  </div>
  <div class="mgb-small">
    <div>
      <div class="input-wrapper  mgb-e-small">
          <div>
            {{form.participant_gm3_email(class="form__input", placeholder='Participant Email', value=all.pop(0).value)}}
          <div class="form__line"></div>
        </div>
    </div>
  </div>
  </div>
  <div class="mgb-small">
    <div>
      <div class="input-wrapper  mgb-e-small">
          <div>
            {{form.participant_gm3_phone(class="form__input", placeholder='Participant Phone', value=all.pop(0).value)}}
          <div class="form__line"></div>
        </div>
    </div>
  </div>
  </div>
</div>
<!-- ################### musical shutter -->
<div class="musical-shutter mb-20">
  <div class="mgb-small">
    <p class="e-des">Musical Shutter</p>
    <div>
  
      <div class="input-wrapper  mgb-e-small">
          <div>
            <p class="form__name">Participant 1</p>
            {{form.participant_ms1_name(class="form__input", placeholder='Participant Name', value=all.pop(0).value)}}
          <div class="form__line"></div>
        </div>
    </div>
  </div>
  </div>
  <div class="mgb-small">
    <div>
      <div class="input-wrapper  mgb-e-small">
          <div>
            {{form.participant_ms1_email(class="form__input", placeholder='Participant Email', value=all.pop(0).value)}}
          <div class="form__line"></div>
        </div>
    </div>
  </div>
  </div>
  <div class="mgb-small">
    <div>
      <div class="input-wrapper  mgb-e-small">
          <div>
            {{form.participant_ms1_phone(class="form__input", placeholder='Participant Phone', value=all.pop(0).value)}}
          <div class="form__line"></div>
        </div>
    </div>
  </div>
  </div>
</div>

<!-- ##########################camcord -->
<div class="camcord mb-20">
  <p class="e-des">Camcord</p>
  <div class="mgb-small">
  
    <div>
  
      <div class="input-wrapper  mgb-e-small">
          <div>
            <p class="form__name">Participant 1</p>
            {{form.participant_cc1_name(class="form__input", placeholder='Participant Name', value=all.pop(0).value)}}
          <div class="form__line"></div>
        </div>
    </div>
  </div>
  </div>
  <div class="mgb-small">
    <div>
      <div class="input-wrapper  mgb-e-small">
          <div>
            {{form.participant_cc1_email(class="form__input", placeholder='Participant Email', value=all.pop(0).value)}}
          <div class="form__line"></div>
        </div>
    </div>
  </div>
  </div>
  <div class="mgb-small">
    <div>
      <div class="input-wrapper  mgb-e-small">
          <div>
            {{form.participant_cc1_phone(class="form__input  mb-8", placeholder='Participant Phone', value=all.pop(0).value)}}
          <div class="form__line"></div>
        </div>
    </div>
  </div>
  </div>
  <div class="mgb-small">
  
    <div>
  
      <div class="input-wrapper  mgb-e-small">
          <div>
            <p class="form__name">Participant 2</p>
            {{form.participant_cc2_name(class="form__input", placeholder='Participant Name', value=all.pop(0).value)}}
          <div class="form__line"></div>
        </div>
    </div>
  </div>
  </div>
  <div class="mgb-small">
    <div>
      <div class="input-wrapper  mgb-e-small">
          <div>
            {{form.participant_cc2_email(class="form__input", placeholder='Participant Email', value=all.pop(0).value)}}
          <div class="form__line"></div>
        </div>
    </div>
  </div>
  </div>
  <div class="mgb-small">
    <div>
      <div class="input-wrapper  mgb-e-small">
          <div>
            {{form.participant_cc2_phone(class="form__input", placeholder='Participant Phone', value=all.pop(0).value)}}
          <div class="form__line"></div>
        </div>
    </div>
  </div>
  </div>
</div>
<!-- ########################## -->
      <div>
        {{form.submit(class ="form__btn")}}<br>

      </div>
    </form>
  </div>
</div>
{%endblock%}
