{%extends 'base.htm'%}

{%block content%}
        <!-- HERO SECTION  -->
        <main class="events-hero relative pt-40 mb-32">
            <div class="heading flex justify-start items-center">
                <img src="static/img/triangular stuff.png" alt="side decor" class="events-hero-filler-1 w-48 mr-28">
                <h2 class="heading-1">Events</h2>
            </div>
            <p class="events-hero__text w-8/12 text-2xl leading-loose ml-72 -mt-8 mb-28">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, illo odio. Neque cumque recusandae corporis doloremque reprehenderit amet repellat perspiciatis tempora, quaerat voluptatem explicabo eius, maiores consequuntur ut, illum culpa! Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit illum facere nisi nulla nihil ipsa voluptas commodi, maiores rerum magni dolorum voluptate accusantium. Est ea quod odit, nobis sunt distinctio? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt ea nam praesentium? Odit quibusdam, magnam fuga a accusantium voluptatem! Incidunt sequi voluptate eaque magni illo alias, nemo possimus impedit enim.
            </p>

            <!-- EVENTS -->
            <div class="event-grid grid w-7/12 mx-auto gap-x-48 gap-y-36">
                <div class="event relative px-20 pt-8 pb-24">
                    <img src="static/img/grey boxes grid.png" alt="grey filler" class="event-filler-1 absolute w-12">
                    <img src="static/img/grey boxes grid.png" alt="grey filler" class="event-filler-2 absolute w-12">
                    <div class="green-overlay w-full absolute bottom-0 left-0"></div>
                    <div class="event-heading flex items-center mb-8">
                        <svg class="event-heading__icon w-24 h-24 mr-8">
                            <use xlink:href="static/img/xino sprite.svg#icon-code"></use>
                        </svg>
                        <h3 class="heading-2">Event 1</h3>
                    </div>
                    <p class="event__details text-xl leading-relaxed mb-16">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel illo quas provident assumenda sit consequatur vitae, reiciendis aliquam cupiditate consequuntur cum, pariatur quae? Fugit in officia, neque impedit tempore rem. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit, et assumenda voluptatum quisquam a quasi ipsum voluptatibus laborum alias! Repudiandae debitis culpa odio seq
                    </p>
                    <a href="#" class="btn-black">Details</a>
                    <img src="static/img/grey boxes grid.png" alt="grey filler" class="event-filler-3 absolute w-12">
                    <img src="static/img/grey boxes grid.png" alt="grey filler" class="event-filler-4 absolute w-12">
                </div>

                <div class="event relative px-20 pt-8 pb-24">
                    <img src="static/img/grey boxes grid.png" alt="grey filler" class="event-filler-1 absolute w-12">
                    <img src="static/img/grey boxes grid.png" alt="grey filler" class="event-filler-2 absolute w-12">
                    <div class="green-overlay w-full absolute bottom-0 left-0"></div>
                    <div class="event-heading flex items-center mb-8">
                        <svg class="event-heading__icon w-24 h-24 mr-8">
                            <use xlink:href="static/img/xino sprite.svg#icon-code"></use>
                        </svg>
                        <h3 class="heading-2">Event 2</h3>
                    </div>
                    <p class="event__details text-xl leading-relaxed mb-16">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel illo quas provident assumenda sit consequatur vitae, reiciendis aliquam cupiditate consequuntur cum, pariatur quae? Fugit in officia, neque impedit tempore rem. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit, et assumenda voluptatum quisquam a quasi ipsum voluptatibus laborum alias! Repudiandae debitis culpa odio seq
                    </p>
                    <a href="#" class="btn-black">Details</a>
                    <img src="static/img/grey boxes grid.png" alt="grey filler" class="event-filler-3 absolute w-12">
                    <img src="static/img/grey boxes grid.png" alt="grey filler" class="event-filler-4 absolute w-12">
                </div>

                <div class="event relative px-20 pt-8 pb-24">
                    <img src="static/img/grey boxes grid.png" alt="grey filler" class="event-filler-1 absolute w-12">
                    <img src="static/img/grey boxes grid.png" alt="grey filler" class="event-filler-2 absolute w-12">
                    <div class="green-overlay w-full absolute bottom-0 left-0"></div>
                    <div class="event-heading flex items-center mb-8">
                        <svg class="event-heading__icon w-24 h-24 mr-8">
                            <use xlink:href="static/img/xino sprite.svg#icon-code"></use>
                        </svg>
                        <h3 class="heading-2">Event 3</h3>
                    </div>
                    <p class="event__details text-xl leading-relaxed mb-16">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel illo quas provident assumenda sit consequatur vitae, reiciendis aliquam cupiditate consequuntur cum, pariatur quae? Fugit in officia, neque impedit tempore rem. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit, et assumenda voluptatum quisquam a quasi ipsum voluptatibus laborum alias! Repudiandae debitis culpa odio seq
                    </p>
                    <a href="#" class="btn-black">Details</a>
                    <img src="static/img/grey boxes grid.png" alt="grey filler" class="event-filler-3 absolute w-12">
                    <img src="static/img/grey boxes grid.png" alt="grey filler" class="event-filler-4 absolute w-12">
                </div>

                <div class="event relative px-20 pt-8 pb-24">
                    <img src="static/img/grey boxes grid.png" alt="grey filler" class="event-filler-1 absolute w-12">
                    <img src="static/img/grey boxes grid.png" alt="grey filler" class="event-filler-2 absolute w-12">
                    <div class="green-overlay w-full absolute bottom-0 left-0"></div>
                    <div class="event-heading flex items-center mb-8">
                        <svg class="event-heading__icon w-24 h-24 mr-8">
                            <use xlink:href="static/img/xino sprite.svg#icon-code"></use>
                        </svg>
                        <h3 class="heading-2">Event 4</h3>
                    </div>
                    <p class="event__details text-xl leading-relaxed mb-16">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel illo quas provident assumenda sit consequatur vitae, reiciendis aliquam cupiditate consequuntur cum, pariatur quae? Fugit in officia, neque impedit tempore rem. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit, et assumenda voluptatum quisquam a quasi ipsum voluptatibus laborum alias! Repudiandae debitis culpa odio seq
                    </p>
                    <a href="#" class="btn-black">Details</a>
                    <img src="static/img/grey boxes grid.png" alt="grey filler" class="event-filler-3 absolute w-12">
                    <img src="static/img/grey boxes grid.png" alt="grey filler" class="event-filler-4 absolute w-12">
                </div>

                <div class="event relative px-20 pt-8 pb-24">
                    <img src="static/img/grey boxes grid.png" alt="grey filler" class="event-filler-1 absolute w-12">
                    <img src="static/img/grey boxes grid.png" alt="grey filler" class="event-filler-2 absolute w-12">
                    <div class="green-overlay w-full absolute bottom-0 left-0"></div>
                    <div class="event-heading flex items-center mb-8">
                        <svg class="event-heading__icon w-24 h-24 mr-8">
                            <use xlink:href="static/img/xino sprite.svg#icon-code"></use>
                        </svg>
                        <h3 class="heading-2">Event 5</h3>
                    </div>
                    <p class="event__details text-xl leading-relaxed mb-16">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel illo quas provident assumenda sit consequatur vitae, reiciendis aliquam cupiditate consequuntur cum, pariatur quae? Fugit in officia, neque impedit tempore rem. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit, et assumenda voluptatum quisquam a quasi ipsum voluptatibus laborum alias! Repudiandae debitis culpa odio seq
                    </p>
                    <a href="#" class="btn-black">Details</a>
                    <img src="static/img/grey boxes grid.png" alt="grey filler" class="event-filler-3 absolute w-12">
                    <img src="static/img/grey boxes grid.png" alt="grey filler" class="event-filler-4 absolute w-12">
                </div>

                <div class="event relative px-20 pt-8 pb-24">
                    <img src="static/img/grey boxes grid.png" alt="grey filler" class="event-filler-1 absolute w-12">
                    <img src="static/img/grey boxes grid.png" alt="grey filler" class="event-filler-2 absolute w-12">
                    <div class="green-overlay w-full absolute bottom-0 left-0"></div>
                    <div class="event-heading flex items-center mb-8">
                        <svg class="event-heading__icon w-24 h-24 mr-8">
                            <use xlink:href="static/img/xino sprite.svg#icon-code"></use>
                        </svg>
                        <h3 class="heading-2">Event 6</h3>
                    </div>
                    <p class="event__details text-xl leading-relaxed mb-16">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel illo quas provident assumenda sit consequatur vitae, reiciendis aliquam cupiditate consequuntur cum, pariatur quae? Fugit in officia, neque impedit tempore rem. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit, et assumenda voluptatum quisquam a quasi ipsum voluptatibus laborum alias! Repudiandae debitis culpa odio seq
                    </p>
                    <a href="#" class="btn-black">Details</a>
                    <img src="static/img/grey boxes grid.png" alt="grey filler" class="event-filler-3 absolute w-12">
                    <img src="static/img/grey boxes grid.png" alt="grey filler" class="event-filler-4 absolute w-12">
                </div>
            </div>
        </main>

        <!-- FOOTER  -->
        <footer class="footer text-center py-8">
            <p class="footer__caption text-2xl mb-8">Made with ❤️ by XINO</p>
            <div class="contact flex justify-center items-center w-1/3 mx-auto">
                <a href="">
                    <svg class="footer__icon w-8 h-8 mr-12">
                        <use xlink:href="static/img/xino sprite.svg#icon-facebook"></use>
                    </svg>
                </a>
                <a href="">
                    <svg class="footer__icon w-8 h-8 mr-12">
                        <use xlink:href="static/img/xino sprite.svg#icon-instagram"></use>
                    </svg>
                </a>
                <a href="">
                    <svg class="footer__icon w-8 h-8">
                        <use xlink:href="static/img/xino sprite.svg#icon-discord"></use>
                    </svg>
                </a>
            </div>
        </footer>

        <script src="static/js/app.js" defer></script>
        <script src="static/js/events dark mode.js" defer></script>
{%endblock%}
