{%extends 'base.htm'%}

{%block content%}
<br><br><br><br>
<div class="sign-in">
  <br>
  <div class="row justify-content-center ">
    <form method="POST" class="form">
      <h1 class="heading-2">Login</h1>
      <br>
      {{form.hidden_tag()}}
      <!-- #######################gd1 -->
      Xclamation
      <div class="mgb-small">
        <div>
          <div class="input-wrapper  mgb-e-small">
              <div>
                Particpant 1 Name
                {{form.participant_gd1_name(class="form__input", placeholder='Participant Name', value=sheet_events.cell(next_events_row,3).value or '')}}
              <div class="form__line"></div>
            </div>
        </div>
      </div>
      </div>
      <div class="mgb-small">
        <div>
          <div class="input-wrapper  mgb-e-small">
              <div>
                Participant 1 Email
                {{form.participant_gd1_email(class="form__input", placeholder='Participant Email', value=sheet_events.cell(next_events_row,4).value or '')}}
              <div class="form__line"></div>
            </div>
        </div>
      </div>
      </div>
      <div class="mgb-small">
        <div>
          <div class="input-wrapper  mgb-e-small">
              <div>
                Particpant 1 Phone
                {{form.participant_gd1_phone(class="form__input", placeholder='Participant Phone', value=sheet_events.cell(next_events_row,5).value or '')}}
              <div class="form__line"></div>
            </div>
        </div>
      </div>
      </div>
      <!-- ######################################## surp -->
      Xclusive
      <div class="mgb-small">
        <div>
          <div class="input-wrapper  mgb-e-small">
              <div>
                Paritcipant 1 Name
                {{form.participant_su1_name(class="form__input", placeholder='Participant Name', value=sheet_events.cell(next_events_row,6).value or '')}}
              <div class="form__line"></div>
            </div>
        </div>
      </div>
      </div>
      <div class="mgb-small">
        <div>
          <div class="input-wrapper  mgb-e-small">
              <div>
                Participant 1 Email
                {{form.participant_su1_email(class="form__input", placeholder='Participant Email', value=sheet_events.cell(next_events_row,7).value or '')}}
              <div class="form__line"></div>
            </div>
        </div>
      </div>
      </div>
      <div class="mgb-small">
        <div>
          <div class="input-wrapper  mgb-e-small">
              <div>
                Particpant 1 Phone
                {{form.participant_su1_phone(class="form__input", placeholder='Participant Phone', value=sheet_events.cell(next_events_row,8).value or '')}}
              <div class="form__line"></div>
            </div>
        </div>
      </div>
      </div>

      <div class="mgb-small">
        <div>
          <div class="input-wrapper  mgb-e-small">
              <div>
                Participant 2 Name
                {{form.participant_su2_name(class="form__input", placeholder='Participant Name', value=sheet_events.cell(next_events_row,9).value or '')}}
              <div class="form__line"></div>
            </div>
        </div>
      </div>
      </div>
      <div class="mgb-small">
        <div>
          <div class="input-wrapper  mgb-e-small">
              <div>
                Particpant 2 Email
                {{form.participant_su2_email(class="form__input", placeholder='Participant Email', value=sheet_events.cell(next_events_row,10).value or '')}}
              <div class="form__line"></div>
            </div>
        </div>
      </div>
      </div>
      <div class="mgb-small">
        <div>
          <div class="input-wrapper  mgb-e-small">
              <div>
                Participant 2 Phone
                {{form.participant_su2_phone(class="form__input", placeholder='Participant Phone', value=sheet_events.cell(next_events_row,11).value or '')}}
              <div class="form__line"></div>
            </div>
        </div>
      </div>
      </div>
      <!-- ####################creative -->
      <div class="mgb-small">
        Creative
        <div>

          <div class="input-wrapper  mgb-e-small">
              <div>
                Particpant 1 Name
                {{form.participant_cr1_name(class="form__input", placeholder='Participant Name', value=sheet_events.cell(next_events_row,12).value or '')}}
              <div class="form__line"></div>
            </div>
        </div>
      </div>
      </div>
      <div class="mgb-small">
        <div>
          <div class="input-wrapper  mgb-e-small">
              <div>
                Participant 1 Email
                {{form.participant_cr1_email(class="form__input", placeholder='Participant Email', value=sheet_events.cell(next_events_row,13).value or '')}}
              <div class="form__line"></div>
            </div>
        </div>
      </div>
      </div>
      <div class="mgb-small">
        <div>
          <div class="input-wrapper  mgb-e-small">
              <div>
                Particpant 1 Phone
                {{form.participant_cr1_phone(class="form__input", placeholder='Participant Phone', value=sheet_events.cell(next_events_row,14).value or '')}}
              <div class="form__line"></div>
            </div>
        </div>
      </div>
      </div>
      <div class="mgb-small">
        <div>

          <div class="input-wrapper  mgb-e-small">
              <div>
                Particpant 2 Name
                {{form.participant_cr2_name(class="form__input", placeholder='Participant Name', value=sheet_events.cell(next_events_row,15).value or '')}}
              <div class="form__line"></div>
            </div>
        </div>
      </div>
      </div>
      <div class="mgb-small">
        <div>
          <div class="input-wrapper  mgb-e-small">
              <div>
                Participant 2 Email
                {{form.participant_cr2_email(class="form__input", placeholder='Participant Email', value=sheet_events.cell(next_events_row,16).value or '')}}
              <div class="form__line"></div>
            </div>
        </div>
      </div>
      </div>
      <div class="mgb-small">
        <div>
          <div class="input-wrapper  mgb-e-small">
              <div>
                Particpant 2 Phone
                {{form.participant_cr2_phone(class="form__input", placeholder='Participant Phone', value=sheet_events.cell(next_events_row,17).value or '')}}
              <div class="form__line"></div>
            </div>
        </div>
      </div>
      </div>

      <div class="mgb-small">
        <div>

          <div class="input-wrapper  mgb-e-small">
              <div>
                Particpant 1 Name
                {{form.participant_cr3_name(class="form__input", placeholder='Participant Name', value=sheet_events.cell(next_events_row,18).value or '')}}
              <div class="form__line"></div>
            </div>
        </div>
      </div>
      </div>
      <div class="mgb-small">
        <div>
          <div class="input-wrapper  mgb-e-small">
              <div>
                Participant 1 Email
                {{form.participant_cr3_email(class="form__input", placeholder='Participant Email', value=sheet_events.cell(next_events_row,19).value or '')}}
              <div class="form__line"></div>
            </div>
        </div>
      </div>
      </div>
      <div class="mgb-small">
        <div>
          <div class="input-wrapper  mgb-e-small">
              <div>
                Particpant 1 Phone
                {{form.participant_cr3_phone(class="form__input", placeholder='Participant Phone', value=sheet_events.cell(next_events_row,20).value or '')}}
              <div class="form__line"></div>
            </div>
        </div>
      </div>
      </div>

      <div class="mgb-small">
        <div>

          <div class="input-wrapper  mgb-e-small">
              <div>
                Particpant 1 Name
                {{form.participant_cr4_name(class="form__input", placeholder='Participant Name', value=sheet_events.cell(next_events_row,21).value or '')}}
              <div class="form__line"></div>
            </div>
        </div>
      </div>
      </div>
      <div class="mgb-small">
        <div>
          <div class="input-wrapper  mgb-e-small">
              <div>
                Participant 1 Email
                {{form.participant_cr4_email(class="form__input", placeholder='Participant Email', value=sheet_events.cell(next_events_row,22).value or '')}}
              <div class="form__line"></div>
            </div>
        </div>
      </div>
      </div>
      <div class="mgb-small">
        <div>
          <div class="input-wrapper  mgb-e-small">
              <div>
                Particpant 1 Phone
                {{form.participant_cr4_phone(class="form__input", placeholder='Participant Phone', value=sheet_events.cell(next_events_row,23).value or '')}}
              <div class="form__line"></div>
            </div>
        </div>
      </div>
      </div>
      <div class="mgb-small">
        <div>

          <div class="input-wrapper  mgb-e-small">
              <div>
                Particpant 1 Name
                {{form.participant_cr5_name(class="form__input", placeholder='Participant Name', value=sheet_events.cell(next_events_row,24).value or '')}}
              <div class="form__line"></div>
            </div>
        </div>
      </div>
      </div>
      <div class="mgb-small">
        <div>
          <div class="input-wrapper  mgb-e-small">
              <div>
                Participant 1 Email
                {{form.participant_cr5_email(class="form__input", placeholder='Participant Email', value=sheet_events.cell(next_events_row,25).value or '')}}
              <div class="form__line"></div>
            </div>
        </div>
      </div>
      </div>
      <div class="mgb-small">
        <div>
          <div class="input-wrapper  mgb-e-small">
              <div>
                Particpant 1 Phone
                {{form.participant_cr5_phone(class="form__input", placeholder='Participant Phone', value=sheet_events.cell(next_events_row,26).value or '')}}
              <div class="form__line"></div>
            </div>
        </div>
      </div>
      </div>
<!-- ####################### cross -->

<div class="mgb-small">
  Crossword
  <div>

    <div class="input-wrapper  mgb-e-small">
        <div>
          Particpant 1 Name
          {{form.participant_cw1_name(class="form__input", placeholder='Participant Name', value=sheet_events.cell(next_events_row,27).value or '')}}
        <div class="form__line"></div>
      </div>
  </div>
</div>
</div>
<div class="mgb-small">
  <div>
    <div class="input-wrapper  mgb-e-small">
        <div>
          Participant 1 Email
          {{form.participant_cw1_email(class="form__input", placeholder='Participant Email', value=sheet_events.cell(next_events_row,28).value or '')}}
        <div class="form__line"></div>
      </div>
  </div>
</div>
</div>
<div class="mgb-small">
  <div>
    <div class="input-wrapper  mgb-e-small">
        <div>
          Particpant 1 Phone
          {{form.participant_cw1_phone(class="form__input", placeholder='Participant Phone', value=sheet_events.cell(next_events_row,29).value or '')}}
        <div class="form__line"></div>
      </div>
  </div>
</div>
</div>
<div class="mgb-small">
  <div>

    <div class="input-wrapper  mgb-e-small">
        <div>
          Particpant 1 Name
          {{form.participant_cw2_name(class="form__input", placeholder='Participant Name', value=sheet_events.cell(next_events_row,30).value or '')}}
        <div class="form__line"></div>
      </div>
  </div>
</div>
</div>
<div class="mgb-small">
  <div>
    <div class="input-wrapper  mgb-e-small">
        <div>
          Participant 1 Email
          {{form.participant_cw2_email(class="form__input", placeholder='Participant Email', value=sheet_events.cell(next_events_row,31).value or '')}}
        <div class="form__line"></div>
      </div>
  </div>
</div>
</div>
<div class="mgb-small">
  <div>
    <div class="input-wrapper  mgb-e-small">
        <div>
          Particpant 1 Phone
          {{form.participant_cw2_phone(class="form__input", placeholder='Participant Phone', value=sheet_events.cell(next_events_row,32).value or '')}}
        <div class="form__line"></div>
      </div>
  </div>
</div>
</div>

<!-- ################################################ prog -->
<div class="mgb-small">
  Programming
  <div>

    <div class="input-wrapper  mgb-e-small">
        <div>
          Particpant 1 Name
          {{form.participant_pg1_name(class="form__input", placeholder='Participant Name', value=sheet_events.cell(next_events_row,33).value or '')}}
        <div class="form__line"></div>
      </div>
  </div>
</div>
</div>
<div class="mgb-small">
  <div>
    <div class="input-wrapper  mgb-e-small">
        <div>
          Participant 1 Email
          {{form.participant_pg1_email(class="form__input", placeholder='Participant Email', value=sheet_events.cell(next_events_row,34).value or '')}}
        <div class="form__line"></div>
      </div>
  </div>
</div>
</div>
<div class="mgb-small">
  <div>
    <div class="input-wrapper  mgb-e-small">
        <div>
          Particpant 1 Phone
          {{form.participant_pg1_phone(class="form__input", placeholder='Participant Phone', value=sheet_events.cell(next_events_row,35).value or '')}}
        <div class="form__line"></div>
      </div>
  </div>
</div>
</div>
<div class="mgb-small">
  <div>

    <div class="input-wrapper  mgb-e-small">
        <div>
          Particpant 1 Name
          {{form.participant_pg2_name(class="form__input", placeholder='Participant Name', value=sheet_events.cell(next_events_row,36).value or '')}}
        <div class="form__line"></div>
      </div>
  </div>
</div>
</div>
<div class="mgb-small">
  <div>
    <div class="input-wrapper  mgb-e-small">
        <div>
          Participant 1 Email
          {{form.participant_pg2_email(class="form__input", placeholder='Participant Email', value=sheet_events.cell(next_events_row,37).value or '')}}
        <div class="form__line"></div>
      </div>
  </div>
</div>
</div>
<div class="mgb-small">
  <div>
    <div class="input-wrapper  mgb-e-small">
        <div>
          Particpant 1 Phone
          {{form.participant_pg2_phone(class="form__input", placeholder='Participant Phone', value=sheet_events.cell(next_events_row,38).value or '')}}
        <div class="form__line"></div>
      </div>
  </div>
</div>
</div>

<!-- #################################hrw -->
<div class="mgb-small">
  Hardware
  <div>

    <div class="input-wrapper  mgb-e-small">
        <div>
          Particpant 1 Name
          {{form.participant_hr1_name(class="form__input", placeholder='Participant Name', value=sheet_events.cell(next_events_row,39).value or '')}}
        <div class="form__line"></div>
      </div>
  </div>
</div>
</div>
<div class="mgb-small">
  <div>
    <div class="input-wrapper  mgb-e-small">
        <div>
          Participant 1 Email
          {{form.participant_hr1_email(class="form__input", placeholder='Participant Email', value=sheet_events.cell(next_events_row,40).value or '')}}
        <div class="form__line"></div>
      </div>
  </div>
</div>
</div>
<div class="mgb-small">
  <div>
    <div class="input-wrapper  mgb-e-small">
        <div>
          Particpant 1 Phone
          {{form.participant_hr1_phone(class="form__input", placeholder='Participant Phone', value=sheet_events.cell(next_events_row,41).value or '')}}
        <div class="form__line"></div>
      </div>
  </div>
</div>
</div>
<div class="mgb-small">
  <div>

    <div class="input-wrapper  mgb-e-small">
        <div>
          Particpant 1 Name
          {{form.participant_hr2_name(class="form__input", placeholder='Participant Name', value=sheet_events.cell(next_events_row,42).value or '')}}
        <div class="form__line"></div>
      </div>
  </div>
</div>
</div>
<div class="mgb-small">
  <div>
    <div class="input-wrapper  mgb-e-small">
        <div>
          Participant 1 Email
          {{form.participant_hr2_email(class="form__input", placeholder='Participant Email', value=sheet_events.cell(next_events_row,43).value or '')}}
        <div class="form__line"></div>
      </div>
  </div>
</div>
</div>
<div class="mgb-small">
  <div>
    <div class="input-wrapper  mgb-e-small">
        <div>
          Particpant 1 Phone
          {{form.participant_hr2_phone(class="form__input", placeholder='Participant Phone', value=sheet_events.cell(next_events_row,44).value or '')}}
        <div class="form__line"></div>
      </div>
  </div>
</div>
</div>

<div class="mgb-small">
  <div>

    <div class="input-wrapper  mgb-e-small">
        <div>
          Particpant 1 Name
          {{form.participant_hr3_name(class="form__input", placeholder='Participant Name', value=sheet_events.cell(next_events_row,45).value or '')}}
        <div class="form__line"></div>
      </div>
  </div>
</div>
</div>
<div class="mgb-small">
  <div>
    <div class="input-wrapper  mgb-e-small">
        <div>
          Participant 1 Email
          {{form.participant_hr3_email(class="form__input", placeholder='Participant Email', value=sheet_events.cell(next_events_row,46).value or '')}}
        <div class="form__line"></div>
      </div>
  </div>
</div>
</div>
<div class="mgb-small">
  <div>
    <div class="input-wrapper  mgb-e-small">
        <div>
          Particpant 1 Phone
          {{form.participant_hr3_phone(class="form__input", placeholder='Participant Phone', value=sheet_events.cell(next_events_row,47).value or '')}}
        <div class="form__line"></div>
      </div>
  </div>
</div>
</div>
<!-- ########################## game dev -->
<div class="mgb-small">
  Game Dev
  <div>

    <div class="input-wrapper  mgb-e-small">
        <div>
          Particpant 1 Name
          {{form.participant_gm1_name(class="form__input", placeholder='Participant Name', value=sheet_events.cell(next_events_row,48).value or '')}}
        <div class="form__line"></div>
      </div>
  </div>
</div>
</div>
<div class="mgb-small">
  <div>
    <div class="input-wrapper  mgb-e-small">
        <div>
          Participant 1 Email
          {{form.participant_gm1_email(class="form__input", placeholder='Participant Email', value=sheet_events.cell(next_events_row,49).value or '')}}
        <div class="form__line"></div>
      </div>
  </div>
</div>
</div>
<div class="mgb-small">
  <div>
    <div class="input-wrapper  mgb-e-small">
        <div>
          Particpant 1 Phone
          {{form.participant_gm1_phone(class="form__input", placeholder='Participant Phone', value=sheet_events.cell(next_events_row,50).value or '')}}
        <div class="form__line"></div>
      </div>
  </div>
</div>
</div>
<div class="mgb-small">
  <div>

    <div class="input-wrapper  mgb-e-small">
        <div>
          Particpant 1 Name
          {{form.participant_gm2_name(class="form__input", placeholder='Participant Name', value=sheet_events.cell(next_events_row,51).value or '')}}
        <div class="form__line"></div>
      </div>
  </div>
</div>
</div>
<div class="mgb-small">
  <div>
    <div class="input-wrapper  mgb-e-small">
        <div>
          Participant 1 Email
          {{form.participant_gm2_email(class="form__input", placeholder='Participant Email', value=sheet_events.cell(next_events_row,52).value or '')}}
        <div class="form__line"></div>
      </div>
  </div>
</div>
</div>
<div class="mgb-small">
  <div>
    <div class="input-wrapper  mgb-e-small">
        <div>
          Particpant 1 Phone
          {{form.participant_gm2_phone(class="form__input", placeholder='Participant Phone', value=sheet_events.cell(next_events_row,53).value or '')}}
        <div class="form__line"></div>
      </div>
  </div>
</div>
</div>

<div class="mgb-small">
  <div>

    <div class="input-wrapper  mgb-e-small">
        <div>
          Particpant 1 Name
          {{form.participant_gm3_name(class="form__input", placeholder='Participant Name', value=sheet_events.cell(next_events_row,54).value or '')}}
        <div class="form__line"></div>
      </div>
  </div>
</div>
</div>
<div class="mgb-small">
  <div>
    <div class="input-wrapper  mgb-e-small">
        <div>
          Participant 1 Email
          {{form.participant_gm3_email(class="form__input", placeholder='Participant Email', value=sheet_events.cell(next_events_row,55).value or '')}}
        <div class="form__line"></div>
      </div>
  </div>
</div>
</div>
<div class="mgb-small">
  <div>
    <div class="input-wrapper  mgb-e-small">
        <div>
          Particpant 1 Phone
          {{form.participant_gm3_phone(class="form__input", placeholder='Participant Phone', value=sheet_events.cell(next_events_row,56).value or '')}}
        <div class="form__line"></div>
      </div>
  </div>
</div>
</div>
<!-- ################### musical shutter -->
<div class="mgb-small">
  Musical Shutter
  <div>

    <div class="input-wrapper  mgb-e-small">
        <div>
          Particpant 1 Name
          {{form.participant_ms1_name(class="form__input", placeholder='Participant Name', value=sheet_events.cell(next_events_row,57).value or '')}}
        <div class="form__line"></div>
      </div>
  </div>
</div>
</div>
<div class="mgb-small">
  <div>
    <div class="input-wrapper  mgb-e-small">
        <div>
          Participant 1 Email
          {{form.participant_ms1_email(class="form__input", placeholder='Participant Email', value=sheet_events.cell(next_events_row,58).value or '')}}
        <div class="form__line"></div>
      </div>
  </div>
</div>
</div>
<div class="mgb-small">
  <div>
    <div class="input-wrapper  mgb-e-small">
        <div>
          Particpant 1 Phone
          {{form.participant_ms1_phone(class="form__input", placeholder='Participant Phone', value=sheet_events.cell(next_events_row,59).value or '')}}
        <div class="form__line"></div>
      </div>
  </div>
</div>
</div>
<!-- ##########################camcord -->

<div class="mgb-small">
  Camcord
  <div>

    <div class="input-wrapper  mgb-e-small">
        <div>
          Particpant 1 Name
          {{form.participant_cc1_name(class="form__input", placeholder='Participant Name', value=sheet_events.cell(next_events_row,60).value or '')}}
        <div class="form__line"></div>
      </div>
  </div>
</div>
</div>
<div class="mgb-small">
  <div>
    <div class="input-wrapper  mgb-e-small">
        <div>
          Participant 1 Email
          {{form.participant_cc1_email(class="form__input", placeholder='Participant Email', value=sheet_events.cell(next_events_row,61).value or '')}}
        <div class="form__line"></div>
      </div>
  </div>
</div>
</div>
<div class="mgb-small">
  <div>
    <div class="input-wrapper  mgb-e-small">
        <div>
          Particpant 1 Phone
          {{form.participant_cc1_phone(class="form__input", placeholder='Participant Phone', value=sheet_events.cell(next_events_row,62).value or '')}}
        <div class="form__line"></div>
      </div>
  </div>
</div>
</div>

<!-- ########################## -->
      <div>
        {{form.submit(class ="form__btn")}}<br>

      </div>
    </form>
  </div>
</div>
{%endblock%}
