{%extends 'base.htm'%}

{%block content%}
<br><br><br><br>
<div class="sign-in">
  <br>
  <div class="row justify-content-center ">
    <form method="POST" class="form">
      <h1 class="heading-2">Login</h1>
      <br>
      {{form.hidden_tag()}}
      <!-- #######################gd1 -->
      Xclamation
      <div class="mgb-small">
        <div>
          <div class="input-wrapper  mgb-e-small">
              <div>
                Particpant 1 Name
                {{form.participant_gd1_name(class="form__input", placeholder='Participant Name', value=values.pop(0))}}
              <div class="form__line"></div>
            </div>
        </div>
      </div>
      </div>
      <div class="mgb-small">
        <div>
          <div class="input-wrapper  mgb-e-small">
              <div>
                Participant 1 Email
                {{form.participant_gd1_email(class="form__input", placeholder='Participant Email', value=values.pop(0))}}
              <div class="form__line"></div>
            </div>
        </div>
      </div>
      </div>
      <div class="mgb-small">
        <div>
          <div class="input-wrapper  mgb-e-small">
              <div>
                Particpant 1 Phone
                {{form.participant_gd1_phone(class="form__input", placeholder='Participant Phone', value=values.pop(0))}}
              <div class="form__line"></div>
            </div>
        </div>
      </div>
      </div>
      <!-- ######################################## surp -->
      Xclusive
      <div class="mgb-small">
        <div>
          <div class="input-wrapper  mgb-e-small">
              <div>
                Paritcipant 1 Name
                {{form.participant_su1_name(class="form__input", placeholder='Participant Name', value=values.pop(0))}}
              <div class="form__line"></div>
            </div>
        </div>
      </div>
      </div>
      <div class="mgb-small">
        <div>
          <div class="input-wrapper  mgb-e-small">
              <div>
                Participant 1 Email
                {{form.participant_su1_email(class="form__input", placeholder='Participant Email', value=values.pop(0))}}
              <div class="form__line"></div>
            </div>
        </div>
      </div>
      </div>
      <div class="mgb-small">
        <div>
          <div class="input-wrapper  mgb-e-small">
              <div>
                Particpant 1 Phone
                {{form.participant_su1_phone(class="form__input", placeholder='Participant Phone', value=values.pop(0))}}
              <div class="form__line"></div>
            </div>
        </div>
      </div>
      </div>

      <div class="mgb-small">
        <div>
          <div class="input-wrapper  mgb-e-small">
              <div>
                Participant 2 Name
                {{form.participant_su2_name(class="form__input", placeholder='Participant Name', value=values.pop(0))}}
              <div class="form__line"></div>
            </div>
        </div>
      </div>
      </div>
      <div class="mgb-small">
        <div>
          <div class="input-wrapper  mgb-e-small">
              <div>
                Particpant 2 Email
                {{form.participant_su2_email(class="form__input", placeholder='Participant Email', value=values.pop(0))}}
              <div class="form__line"></div>
            </div>





        </div>
      </div>
      </div>
      <div class="mgb-small">
        <div>
          <div class="input-wrapper  mgb-e-small">
              <div>
                Participant 2 Phone
                {{form.participant_su2_phone(class="form__input", placeholder='Participant Phone', value=values.pop(0))}}
              <div class="form__line"></div>
            </div>
        </div>
      </div>
      </div>
      <!-- ####################creative -->
      <div class="mgb-small">
        Creative
        <div>

          <div class="input-wrapper  mgb-e-small">
              <div>
                Particpant 1 Name
                {{form.participant_cr1_name(class="form__input", placeholder='Participant Name', value=values.pop(0))}}
              <div class="form__line"></div>
            </div>
        </div>
      </div>
      </div>
      <div class="mgb-small">
        <div>
          <div class="input-wrapper  mgb-e-small">
              <div>
                Participant 1 Email
                {{form.participant_cr1_email(class="form__input", placeholder='Participant Email', value=values.pop(0))}}
              <div class="form__line"></div>
            </div>
        </div>
      </div>
      </div>
      <div class="mgb-small">
        <div>
          <div class="input-wrapper  mgb-e-small">
              <div>
                Particpant 1 Phone
                {{form.participant_cr1_phone(class="form__input", placeholder='Participant Phone', value=values.pop(0))}}
              <div class="form__line"></div>
            </div>
        </div>
      </div>
      </div>
      <div class="mgb-small">
        <div>

          <div class="input-wrapper  mgb-e-small">
              <div>
                Particpant 2 Name
                {{form.participant_cr2_name(class="form__input", placeholder='Participant Name', value=values.pop(0))}}
              <div class="form__line"></div>
            </div>
        </div>
      </div>
      </div>
      <div class="mgb-small">
        <div>
          <div class="input-wrapper  mgb-e-small">
              <div>
                Participant 2 Email
                {{form.participant_cr2_email(class="form__input", placeholder='Participant Email', value=values.pop(0))}}
              <div class="form__line"></div>
            </div>
        </div>
      </div>
      </div>
      <div class="mgb-small">
        <div>
          <div class="input-wrapper  mgb-e-small">
              <div>
                Particpant 2 Phone
                {{form.participant_cr2_phone(class="form__input", placeholder='Participant Phone', value=values.pop(0))}}
              <div class="form__line"></div>
            </div>
        </div>
      </div>
      </div>

      <div class="mgb-small">
        <div>

          <div class="input-wrapper  mgb-e-small">
              <div>
                Particpant 3 Name
                {{form.participant_cr3_name(class="form__input", placeholder='Participant Name', value=values.pop(0))}}
              <div class="form__line"></div>
            </div>
        </div>
      </div>
      </div>
      <div class="mgb-small">
        <div>
          <div class="input-wrapper  mgb-e-small">
              <div>
                Participant 3 Email
                {{form.participant_cr3_email(class="form__input", placeholder='Participant Email', value=values.pop(0))}}
              <div class="form__line"></div>
            </div>
        </div>
      </div>
      </div>
      <div class="mgb-small">
        <div>
          <div class="input-wrapper  mgb-e-small">
              <div>
                Particpant 3 Phone
                {{form.participant_cr3_phone(class="form__input", placeholder='Participant Phone', value=values.pop(0))}}
              <div class="form__line"></div>
            </div>
        </div>
      </div>
      </div>

      <div class="mgb-small">
        <div>

          <div class="input-wrapper  mgb-e-small">
              <div>
                Particpant 4 Name
                {{form.participant_cr4_name(class="form__input", placeholder='Participant Name', value=values.pop(0))}}
              <div class="form__line"></div>
            </div>
        </div>
      </div>
      </div>
      <div class="mgb-small">
        <div>
          <div class="input-wrapper  mgb-e-small">
              <div>
                Participant 4 Email
                {{form.participant_cr4_email(class="form__input", placeholder='Participant Email', value=values.pop(0))}}
              <div class="form__line"></div>
            </div>
        </div>
      </div>
      </div>
      <div class="mgb-small">
        <div>
          <div class="input-wrapper  mgb-e-small">
              <div>
                Particpant 4 Phone
                {{form.participant_cr4_phone(class="form__input", placeholder='Participant Phone', value=values.pop(0))}}
              <div class="form__line"></div>
            </div>
        </div>
      </div>
      </div>
      <div class="mgb-small">
        <div>

          <div class="input-wrapper  mgb-e-small">
              <div>
                Particpant 5 Name
                {{form.participant_cr5_name(class="form__input", placeholder='Participant Name', value=values.pop(0))}}
              <div class="form__line"></div>
            </div>
        </div>
      </div>
      </div>
      <div class="mgb-small">
        <div>
          <div class="input-wrapper  mgb-e-small">
              <div>
                Participant 5 Email
                {{form.participant_cr5_email(class="form__input", placeholder='Participant Email', value=values.pop(0))}}
              <div class="form__line"></div>
            </div>
        </div>
      </div>
      </div>
      <div class="mgb-small">
        <div>
          <div class="input-wrapper  mgb-e-small">
              <div>
                Particpant 5 Phone
                {{form.participant_cr5_phone(class="form__input", placeholder='Participant Phone', value=values.pop(0))}}
              <div class="form__line"></div>
            </div>
        </div>
      </div>
      </div>
<!-- ####################### cross -->

<div class="mgb-small">
  Crossword
  <div>

    <div class="input-wrapper  mgb-e-small">
        <div>
          Particpant 1 Name
          {{form.participant_cw1_name(class="form__input", placeholder='Participant Name', value=values.pop(0))}}
        <div class="form__line"></div>
      </div>
  </div>
</div>
</div>
<div class="mgb-small">
  <div>
    <div class="input-wrapper  mgb-e-small">
        <div>
          Participant 1 Email
          {{form.participant_cw1_email(class="form__input", placeholder='Participant Email', value=values.pop(0))}}
        <div class="form__line"></div>
      </div>
  </div>
</div>
</div>
<div class="mgb-small">
  <div>
    <div class="input-wrapper  mgb-e-small">
        <div>
          Particpant 1 Phone
          {{form.participant_cw1_phone(class="form__input", placeholder='Participant Phone', value=values.pop(0))}}
        <div class="form__line"></div>
      </div>
  </div>
</div>
</div>
<div class="mgb-small">
  <div>

    <div class="input-wrapper  mgb-e-small">
        <div>
          Particpant 2 Name
          {{form.participant_cw2_name(class="form__input", placeholder='Participant Name', value=values.pop(0))}}
        <div class="form__line"></div>
      </div>
  </div>
</div>
</div>
<div class="mgb-small">
  <div>
    <div class="input-wrapper  mgb-e-small">
        <div>
          Participant 2 Email
          {{form.participant_cw2_email(class="form__input", placeholder='Participant Email', value=values.pop(0))}}
        <div class="form__line"></div>
      </div>
  </div>
</div>
</div>
<div class="mgb-small">
  <div>
    <div class="input-wrapper  mgb-e-small">
        <div>
          Particpant 2 Phone
          {{form.participant_cw2_phone(class="form__input", placeholder='Participant Phone', value=values.pop(0))}}
        <div class="form__line"></div>
      </div>
  </div>
</div>
</div>

<!-- ################################################ prog -->
<div class="mgb-small">
  Programming
  <div>

    <div class="input-wrapper  mgb-e-small">
        <div>
          Particpant 1 Name
          {{form.participant_pg1_name(class="form__input", placeholder='Participant Name', value=values.pop(0))}}
        <div class="form__line"></div>
      </div>
  </div>
</div>
</div>
<div class="mgb-small">
  <div>
    <div class="input-wrapper  mgb-e-small">
        <div>
          Participant 1 Email
          {{form.participant_pg1_email(class="form__input", placeholder='Participant Email', value=values.pop(0))}}
        <div class="form__line"></div>
      </div>
  </div>
</div>
</div>
<div class="mgb-small">
  <div>
    <div class="input-wrapper  mgb-e-small">
        <div>
          Particpant 1 Phone
          {{form.participant_pg1_phone(class="form__input", placeholder='Participant Phone', value=values.pop(0))}}
        <div class="form__line"></div>
      </div>
  </div>
</div>
</div>
<div class="mgb-small">
  <div>

    <div class="input-wrapper  mgb-e-small">
        <div>
          Particpant 2 Name
          {{form.participant_pg2_name(class="form__input", placeholder='Participant Name', value=values.pop(0))}}
        <div class="form__line"></div>
      </div>
  </div>
</div>
</div>
<div class="mgb-small">
  <div>
    <div class="input-wrapper  mgb-e-small">
        <div>
          Participant 2 Email
          {{form.participant_pg2_email(class="form__input", placeholder='Participant Email', value=values.pop(0))}}
        <div class="form__line"></div>
      </div>
  </div>
</div>
</div>
<div class="mgb-small">
  <div>
    <div class="input-wrapper  mgb-e-small">
        <div>
          Particpant 2 Phone
          {{form.participant_pg2_phone(class="form__input", placeholder='Participant Phone', value=values.pop(0))}}
        <div class="form__line"></div>
      </div>
  </div>
</div>
</div>

<!-- #################################hrw -->
<div class="mgb-small">
  Hardware
  <div>

    <div class="input-wrapper  mgb-e-small">
        <div>
          Particpant 1 Name
          {{form.participant_hr1_name(class="form__input", placeholder='Participant Name', value=values.pop(0))}}
        <div class="form__line"></div>
      </div>
  </div>
</div>
</div>
<div class="mgb-small">
  <div>
    <div class="input-wrapper  mgb-e-small">
        <div>
          Participant 1 Email
          {{form.participant_hr1_email(class="form__input", placeholder='Participant Email', value=values.pop(0))}}
        <div class="form__line"></div>
      </div>
  </div>
</div>
</div>
<div class="mgb-small">
  <div>
    <div class="input-wrapper  mgb-e-small">
        <div>
          Particpant 1 Phone
          {{form.participant_hr1_phone(class="form__input", placeholder='Participant Phone', value=values.pop(0))}}
        <div class="form__line"></div>
      </div>
  </div>
</div>
</div>
<div class="mgb-small">
  <div>

    <div class="input-wrapper  mgb-e-small">
        <div>
          Particpant 2 Name
          {{form.participant_hr2_name(class="form__input", placeholder='Participant Name', value=values.pop(0))}}
        <div class="form__line"></div>
      </div>
  </div>
</div>
</div>
<div class="mgb-small">
  <div>
    <div class="input-wrapper  mgb-e-small">
        <div>
          Participant 2 Email
          {{form.participant_hr2_email(class="form__input", placeholder='Participant Email', value=values.pop(0))}}
        <div class="form__line"></div>
      </div>
  </div>
</div>
</div>
<div class="mgb-small">
  <div>
    <div class="input-wrapper  mgb-e-small">
        <div>
          Particpant 2 Phone
          {{form.participant_hr2_phone(class="form__input", placeholder='Participant Phone', value=values.pop(0))}}
        <div class="form__line"></div>
      </div>
  </div>
</div>
</div>

<div class="mgb-small">
  <div>

    <div class="input-wrapper  mgb-e-small">
        <div>
          Particpant 3 Name
          {{form.participant_hr3_name(class="form__input", placeholder='Participant Name', value=values.pop(0))}}
        <div class="form__line"></div>
      </div>
  </div>
</div>
</div>
<div class="mgb-small">
  <div>
    <div class="input-wrapper  mgb-e-small">
        <div>
          Participant 3 Email
          {{form.participant_hr3_email(class="form__input", placeholder='Participant Email', value=values.pop(0))}}
        <div class="form__line"></div>
      </div>
  </div>
</div>
</div>
<div class="mgb-small">
  <div>
    <div class="input-wrapper  mgb-e-small">
        <div>
          Particpant 3 Phone
          {{form.participant_hr3_phone(class="form__input", placeholder='Participant Phone', value=values.pop(0))}}
        <div class="form__line"></div>
      </div>
  </div>
</div>
</div>
<!-- ########################## game dev -->
<div class="mgb-small">
  Game Dev
  <div>

    <div class="input-wrapper  mgb-e-small">
        <div>
          Particpant 1 Name
          {{form.participant_gm1_name(class="form__input", placeholder='Participant Name', value=values.pop(0))}}
        <div class="form__line"></div>
      </div>
  </div>
</div>
</div>
<div class="mgb-small">
  <div>
    <div class="input-wrapper  mgb-e-small">
        <div>
          Participant 1 Email
          {{form.participant_gm1_email(class="form__input", placeholder='Participant Email', value=values.pop(0))}}
        <div class="form__line"></div>
      </div>
  </div>
</div>
</div>
<div class="mgb-small">
  <div>
    <div class="input-wrapper  mgb-e-small">
        <div>
          Particpant 1 Phone
          {{form.participant_gm1_phone(class="form__input", placeholder='Participant Phone', value=values.pop(0))}}
        <div class="form__line"></div>
      </div>
  </div>
</div>
</div>
<div class="mgb-small">
  <div>

    <div class="input-wrapper  mgb-e-small">
        <div>
          Particpant 2 Name
          {{form.participant_gm2_name(class="form__input", placeholder='Participant Name', value=values.pop(0))}}
        <div class="form__line"></div>
      </div>
  </div>
</div>
</div>
<div class="mgb-small">
  <div>
    <div class="input-wrapper  mgb-e-small">
        <div>
          Participant 2 Email
          {{form.participant_gm2_email(class="form__input", placeholder='Participant Email', value=values.pop(0))}}
        <div class="form__line"></div>
      </div>
  </div>
</div>
</div>
<div class="mgb-small">
  <div>
    <div class="input-wrapper  mgb-e-small">
        <div>
          Particpant 2 Phone
          {{form.participant_gm2_phone(class="form__input", placeholder='Participant Phone', value=values.pop(0))}}
        <div class="form__line"></div>
      </div>
  </div>
</div>
</div>

<div class="mgb-small">
  <div>

    <div class="input-wrapper  mgb-e-small">
        <div>
          Particpant 3 Name
          {{form.participant_gm3_name(class="form__input", placeholder='Participant Name', value=values.pop(0))}}
        <div class="form__line"></div>
      </div>
  </div>
</div>
</div>
<div class="mgb-small">
  <div>
    <div class="input-wrapper  mgb-e-small">
        <div>
          Participant 3 Email
          {{form.participant_gm3_email(class="form__input", placeholder='Participant Email', value=values.pop(0))}}
        <div class="form__line"></div>
      </div>
  </div>
</div>
</div>
<div class="mgb-small">
  <div>
    <div class="input-wrapper  mgb-e-small">
        <div>
          Particpant 3 Phone
          {{form.participant_gm3_phone(class="form__input", placeholder='Participant Phone', value=values.pop(0))}}
        <div class="form__line"></div>
      </div>
  </div>
</div>
</div>
<!-- ################### musical shutter -->
<div class="mgb-small">
  Musical Shutter
  <div>

    <div class="input-wrapper  mgb-e-small">
        <div>
          Particpant 1 Name
          {{form.participant_ms1_name(class="form__input", placeholder='Participant Name', value=values.pop(0))}}
        <div class="form__line"></div>
      </div>
  </div>
</div>
</div>
<div class="mgb-small">
  <div>
    <div class="input-wrapper  mgb-e-small">
        <div>
          Participant 1 Email
          {{form.participant_ms1_email(class="form__input", placeholder='Participant Email', value=values.pop(0))}}
        <div class="form__line"></div>
      </div>
  </div>
</div>
</div>
<div class="mgb-small">
  <div>
    <div class="input-wrapper  mgb-e-small">
        <div>
          Particpant 1 Phone
          {{form.participant_ms1_phone(class="form__input", placeholder='Participant Phone', value=values.pop(0))}}
        <div class="form__line"></div>
      </div>
  </div>
</div>
</div>
<!-- ##########################camcord -->
Camcord
<div class="mgb-small">

  <div>

    <div class="input-wrapper  mgb-e-small">
        <div>
          Particpant 1 Name
          {{form.participant_cc1_name(class="form__input", placeholder='Participant Name', value=values.pop(0))}}
        <div class="form__line"></div>
      </div>
  </div>
</div>
</div>
<div class="mgb-small">
  <div>
    <div class="input-wrapper  mgb-e-small">
        <div>
          Participant 1 Email
          {{form.participant_cc1_email(class="form__input", placeholder='Participant Email', value=values.pop(0))}}
        <div class="form__line"></div>
      </div>
  </div>
</div>
</div>
<div class="mgb-small">
  <div>
    <div class="input-wrapper  mgb-e-small">
        <div>
          Particpant 1 Phone
          {{form.participant_cc1_phone(class="form__input", placeholder='Participant Phone', value=values.pop(0))}}
        <div class="form__line"></div>
      </div>
  </div>
</div>
</div>
<div class="mgb-small">

  <div>

    <div class="input-wrapper  mgb-e-small">
        <div>
          Particpant 2 Name
          {{form.participant_cc2_name(class="form__input", placeholder='Participant Name', value=values.pop(0))}}
        <div class="form__line"></div>
      </div>
  </div>
</div>
</div>
<div class="mgb-small">
  <div>
    <div class="input-wrapper  mgb-e-small">
        <div>
          Participant 2 Email
          {{form.participant_cc2_email(class="form__input", placeholder='Participant Email', value=values.pop(0))}}
        <div class="form__line"></div>
      </div>
  </div>
</div>
</div>
<div class="mgb-small">
  <div>
    <div class="input-wrapper  mgb-e-small">
        <div>
          Particpant 2 Phone
          {{form.participant_cc2_phone(class="form__input", placeholder='Participant Phone', value=values.pop(0))}}
        <div class="form__line"></div>
      </div>
  </div>
</div>
</div>

<!-- ########################## -->
      <div>
        {{form.submit(class ="form__btn")}}<br>

      </div>
    </form>
  </div>
</div>
{%endblock%}
