{%extends 'base.htm'%}

{%block content%}
<br><br><br><br><br>
<div class="sign-in">
  <h3>{{text}}</h3>
  <br>
  <div class="row justify-content-center ">
    <form method="POST" class="form">
      <h1 class="heading-2">Login</h1>
      <br>
      {{form.hidden_tag()}}
      <div class="mgb-small">
        School Name
        <div>
          <div class="input-wrapper  mgb-e-small">
              <div>
                {{form.school_name(class="form__input", placeholder='School Name')}}
              <div class="form__line"></div>
            </div>
        </div>
        {%if form.school_name.errors%}
        {%for error in form.school_name.errors%}
        <small class="error">{{error}}</small>
        {%endfor%} {%endif%}
        <small class='text-danger'>{{error}}</small>
      </div>
      </div>
      <div class="mgb-small">
        Contact of Teacher in-charge
        <div>
          <div class="input-wrapper  mgb-e-small">
              <div>
                {{form.contact(class="form__input", placeholder='Contact of teacher in charge')}}
              <div class="form__line"></div>
            </div>
        </div>
        {%if form.contact.errors%}
        {%for error in form.contact.errors%}
        <small class="error">{{error}}</small>
        {%endfor%} {%endif%}
        <small class='text-danger'>{{error}}</small>
      </div>
      </div>
      <div class="mgb-small">
        Email
        <div>
          <div class="input-wrapper  mgb-e-small">
              <div>
                {{form.email(class="form__input", placeholder='Email')}}
              <div class="form__line"></div>
            </div>
        </div>
        {%if form.email.errors%}
        {%for error in form.email.errors%}
        <small class="error">{{error}}</small>
        {%endfor%} {%endif%}
        <small class='text-danger'>{{error}}</small>
      </div>
      </div>
      <div class="mgb-small">
        Website Links
        <div>
          <div class="input-wrapper  mgb-e-small">
              <div>
                {{form.website(class="form__input", placeholder='School Website')}}
              <div class="form__line"></div>
            </div>
        </div>
        {%if form.website.errors%}
        {%for error in form.website.errors%}
        <small class="error">{{error}}</small>
        {%endfor%} {%endif%}
        <small class='text-danger'>{{error}}</small>
      </div>
      </div>



      <div>
        {{form.submit(class ="form__btn")}}<br>

      </div>
    </form>
  </div>
</div>
{%endblock%}
