{%extends 'base.htm'%}

{%block content%}

        <!-- SCHEDULE: HERO  -->
        <main class="schedule-hero relative pt-40 mb-16">
            <div class="heading flex justify-start items-center">
                <img src="static/img/triangular stuff.png" alt="side decor" class="schedule-hero-filler-1 w-48 mr-28">
                <h2 class="heading-1">Schedule</h2>
            </div>

            <div class="schedule-hero__image-container text-center w-3/5 mx-auto mb-8">
                <img src="static/img/coming soon.png" alt="coming soon" class="schedule-hero__image">
            </div>

            <p class="schedule-hero__caption text-5xl w-full text-center">Coming Soon!</p>
        </main>

        <!-- FOOTER  -->
        <!-- <footer class="footer text-center py-8">
            <p class="footer__caption text-2xl mb-8">Made with ❤️ by XINO</p>
            <div class="contact flex justify-center items-center w-1/3 mx-auto">
                <a href="">
                    <svg class="footer__icon w-8 h-8 mr-12">
                        <use xlink:href="static/img/xino sprite.svg#icon-facebook"></use>
                    </svg>
                </a>
                <a href="">
                    <svg class="footer__icon w-8 h-8 mr-12">
                        <use xlink:href="static/img/xino sprite.svg#icon-instagram"></use>
                    </svg>
                </a>
                <a href="">
                    <svg class="footer__icon w-8 h-8">
                        <use xlink:href="static/img/xino sprite.svg#icon-discord"></use>
                    </svg>
                </a>
            </div>
        </footer> -->

        <script src="static/js/app.js" defer></script>
        <script src="static/js/schedule dark mode.js" defer></script>
{%endblock%}
