{%extends 'base.htm'%}

{%block content%}
<br><br><br><br><br>
  <div class="sign-in">
    <br>
    <div class="row justify-content-center ">
      <form method="POST" class="form">
        <h1 class="heading-2 mb-6">Login</h1>
        <br>
        {{form.hidden_tag()}}
        <div class="mgb-small">
          <div>
            <div class="input-wrapper  mgb-e-small">
                <div>
                  {{form.school_username(class="form__input", placeholder='School Username')}}
                <div class="form__line"></div>
              </div>
          </div>
        </div>
        </div>

        <div class="mgb-small">
          <div>
            <div class="input-wrapper  mgb-e-small">
                <div>
                  {{form.password(class="form__input", placeholder='Password')}}
                <div class="form__line"></div>
              </div>
          </div>

          {%if form.password.errors%}
          {%for error in form.password.errors%}
          <small class="error">{{error}}</small>
          {%endfor%} {%endif%}
          <small class='text-danger'>{{error}}</small>
        </div>
        </div>

        <div>
          {{form.submit(class ="form__btn mb-6 mt-6")}}<br>
          <a href="{{url_for('req_invite')}}" class="acc-link">Dont have an invite yet?</a>

        </div>
      </form>
    </div>
  </div>  

{%endblock%}
