<div class="mgb-small">
  <div>

    <div class="input-wrapper  mgb-e-small">
        <div>
          Particpant 1 Name
          {{form.participant_gm1_name(class="form__input", placeholder='Participant Name', value=sheet_events.cell(next_events_row,48).value or '')}}
        <div class="form__line"></div>
      </div>
  </div>
</div>
</div>
<div class="mgb-small">
  <div>
    <div class="input-wrapper  mgb-e-small">
        <div>
          Participant 1 Email
          {{form.participant_gm1_email(class="form__input", placeholder='Participant Email', value=sheet_events.cell(next_events_row,49).value or '')}}
        <div class="form__line"></div>
      </div>
  </div>
</div>
</div>
<div class="mgb-small">
  <div>
    <div class="input-wrapper  mgb-e-small">
        <div>
          Particpant 1 Phone
          {{form.participant_gm1_phone(class="form__input", placeholder='Participant Phone', value=sheet_events.cell(next_events_row,50).value or '')}}
        <div class="form__line"></div>
      </div>
  </div>
</div>
</div>
